[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylatex = "*"
rich = "*"
commentjson = "*"

[dev-packages]
black = "*"
ipython = "*"

[requires]
python_version = "3.8"
